doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//code.jquery.com/ui/1.11.4/themes/ui-darkness/jquery-ui.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css')
    script(src='//code.jquery.com/jquery-2.1.4.min.js')
    script(src='//code.jquery.com/ui/1.11.4/jquery-ui.min.js')
    script(src='//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/index.js')
    block sub_head
  body
    block content